/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .tabs_con {
    margin-top: 2% !important;
    border-radius: 4px;
  }

  .tab {
    padding: 6px;
  }
  .btn {
    border: 0.5px solid white !important;
    border-radius: 4px !important;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .tabs_con {
    margin-top: 2% !important;
    border-radius: 4px;
  }

  .tab {
    padding: 10px;
  }
  .btn {
    border: 0.5px solid white !important;
    border-radius: 4px !important;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .tabs_con {
    margin-top: 3% !important;
    border-radius: 4px;
  }

  .tab {
    padding: 10px;
  }
  .btn {
    border: 0.5px solid white !important;
    border-radius: 4px !important;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .tabs_con {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    justify-content: space-evenly;
  }

  .tab {
    padding: 5px;
    flex-basis: 25%;
  }
  .btn {
    border: 0.5px solid white !important;
    border-radius: 4px !important;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */

  .tabs_con {
    margin-top: 11% !important;
    border-radius: 4px;
  }

  .tab {
    padding: 5px;
    flex-basis: 30%;
  }

  .btn {
    border: 0.5px solid white !important;
    border-radius: 4px !important;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */

  .tabs_con {
    margin-top: 1% !important;
    border-radius: 4px;
  }

  .tab {
    padding: 5px;
    flex-basis: 25%;
  }
  .btn {
    border: 0.5px solid white !important;
    border-radius: 4px !important;
    font-size: 9px !important;
  }
}
