@media (min-width: 1281px) {
  /* CSS */

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .nav {
    height: 80px !important;
    position: sticky;
    top: 0;
    z-index: 20;
  }

  .icon {
    margin: auto;
    position: absolute;
    top: 20px;
  }

  .menu {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    position: relative;
  }

  .flex_row {
    display: flex;
    flex-direction: row;
  }

  .company_text {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
  }
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .nav {
    height: 83px !important;
    position: sticky;
    top: 0;
    z-index: 90;
  }
  .company_text {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .company_text {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
  }

  .menu {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    position: relative;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .company_text {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
  }
  .row_col_5 {
    width: 9%;
    flex-basis: 9%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .nav {
    height: 21.5% !important;
  }
  .icon {
    margin: auto;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .row_col_5 {
    width: 13%;
    flex-basis: 13%;
  }

  .menu {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    position: relative;
  }
  .company_text {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .nav {
    height: 83px !important;
    position: sticky;
    top: 0;
    z-index: 90;
  }

  .row_col_5 {
    width: 23%;
    flex-basis: 23%;
  }
  .company_text {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 30px;
  }
  
  .menu {
    padding: 10px;
    width: 100%;
    cursor: pointer;
    position: relative;
  }

  .icon {
    margin: auto;
    position: absolute;
    top: 25%;
    left: 20%;
  }
}
