/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */

  .sidebar_con {
    display: flex;
    width: 50%;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    align-items: flex-end;
    z-index: 100;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 85px;
    cursor: pointer;
  }


  .sidebar_item {
    border: 1px solid white;
    border-radius: 3px;
    height: 55px;
    margin: 10px;
    cursor: pointer;
    width: 600px;
  }
  .sidebar_item:hover {
    box-shadow: 10px 5px 5px black;
  }

  .sidebar_text {
    font-size: 25px;
    float: right;
    margin-top: 2px;
    padding: 10px;
    color: white;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */

  
  .sidebar_con {
    display: flex;
    width: 50%;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    align-items: flex-end;
    z-index: 100;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 95px;
    cursor: pointer;
  }


  .sidebar_item {
    border: 1px solid white;

    height: 55px;
    margin: 10px;
    cursor: pointer;
    width: 500px;
  }
  .sidebar_item:hover {
    box-shadow: 10px 5px 5px black;
  }

  .sidebar_text {
    font-size: 25px;
    float: right;
    margin-top: 2px;
    padding: 10px;
    color: white;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */

  .sidebar_con {
    display: flex;
    width: 60%;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    align-items: flex-end;
    z-index: 100;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 95px;
    cursor: pointer;
  }


  .sidebar_item {
    border: 1px solid white;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    width: 300px;
  }
  .sidebar_item:hover {
    box-shadow: 10px 5px 5px black;
  }

  .sidebar_text {
    font-size: 20px;
    float: right;
    margin-top: 10px;
    padding: 10px;
    color: white;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */

  .sidebar_con {
    display: flex;
    width: 60%;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    align-items: flex-end;
    z-index: 100;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 95px;
    cursor: pointer;
  }


  .sidebar_item {
    border: 1px solid white;
    height: 55px;
    margin: 10px;
    cursor: pointer;
    width: 300px;
  }
  .sidebar_item:hover {
    box-shadow: 10px 5px 5px black;
  }

  .sidebar_text {
    font-size: 20px;
    float: right;
    margin-top: 10px;
    padding: 10px;
    color: white;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */

  .sidebar_con {
    display: flex;
    width: 60%;
    position: absolute;
    flex-direction: column;
    top: 0;
    left: 0;
    align-items: flex-end;
    z-index: 100;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 95px;
    cursor: pointer;
  }


  .sidebar_item {
    border: 1px solid white;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    width: 270px;
  }
  .sidebar_item:hover {
    box-shadow: 10px 5px 5px black;
  }

  .sidebar_text {
    font-size: 20px;
    float: right;
    margin-top: 6px;
    padding: 10px;
    color: white;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .sidebar_con {
    display: flex;
    width: 100%;
    height: 80%;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    align-items: flex-end;
    z-index: 100;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: 95px;
    cursor: pointer;
  }


  .sidebar_item {
    border: 1px solid white;
    height: 50px;
    margin: 8px;
    cursor: pointer;
    width: 70%;
  }
  .sidebar_item:hover {
    box-shadow: 10px 5px 5px black;
  }

  .sidebar_text {
    font-size: 20px;
    float: right;
    margin-top: 3px;
    padding: 10px;
    color: white;
  }
}
