/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .login_con {
    width: 95vw;
    height: 100vh;
  }

  .input {
    width: 60%;
    height: 50px;
    margin: auto;
    display: block;
    padding: 5px;
  }

  .input:focus {
    background-color: #2c528c;
    color: white;
  }
  .input_con {
    width: 50%;
    margin: auto;
    margin-top: 300px;
  }

  .btn {
    display: block;
    margin: auto;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .login_con {
    width: 95vw;
    height: 100%;
  }

  .input {
    width: 60%;
    height: 50px;
    margin: auto;
    display: block;
    padding: 5px;
  }

  .input:focus {
    background-color: #2c528c;
    color: white;
  }
  .input_con {
    width: 50%;
    margin: auto;
    margin-top: 300px;
  }

  .btn {
    display: block;
    margin: auto;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .login_con {
    width: 100%;
    height: 100vh;
  }

  .input {
    width: 30vw;
    height: 7vh;
    padding-left: 20px;
    padding: 5px;
  }

  .input:focus {
    background-color: #2c528c;
    color: white;
  }
  .input_con {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
  }

  .btn {
    display: block;
    position: absolute;
    left: 10%;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .login_con {
    width: 100%;
  }

  .input {
    width: 90%;
    height: 50px;
    margin: auto;
    display: block;
    padding: 5px;
  }

  .input:focus {
    background-color: #2c528c;
    color: white;
  }
  .input_con {
    width: 90%;
    margin: auto;
    margin-top: 80px;
  }

  .btn {
    display: block;
    margin: auto;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .login_con {
    width: 100%;
  }

  .input {
    width: 90%;
    height: 50px;
    margin: auto;
    display: block;
    padding: 5px;
  }

  .input:focus {
    background-color: #2c528c;
    color: white;
  }
  .input_con {
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }

  .btn {
    display: block;
    margin: auto;
  }
}
