/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .projects_con {
    width: 95%;
    margin: auto;
  }

  .image {
    width: 100%;
    height: 100%;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .projects_con {
    width: 95%;
    margin: auto;
  }

  .inner_con {
    position: absolute;
    top: 18%;
    cursor: pointer;
  }

  .image {
    height: 80vh;
    width: 100vw;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .projects_con {
    width: 100vw;
    height: 100vh;
  }

  .inner_con {
    position: absolute;
    top: 18%;
    cursor: pointer;
  }

  .image {
    height: 80vh;
    width: 100vw;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .projects_con {
    width: 100vw;
    height: 100vh;
  }

  .image {
    height: 20vh;
    width: 90%;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .projects_con {
    width: 100vw;
    height: 100vh;
  }

  .inner_con {
    position: absolute;
    top: 18%;
    cursor: pointer;
  }

  .image {
    height: 80vh;
    width: 100vw;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .project_con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
  }

  .image {
    width: 100%;
    height: 300px;
  }

  .col {
    border: 0.1px solid #264574;
    flex-basis: 100%;
    height: 50%;
  }

  .project_details {
    position: absolute;
    bottom: 3%;
    width: 90%;
    margin-left: 15px;
    height: 70px;
  }

  .cat_text {
    font-size: 12px;
    line-height: 0px;
    padding-left: 10px;
  }
  .header_text {
    font-size: 18px;
    line-height: 0px;
    padding-left: 10px;
  }

  .modal_image {
    height: 200px;
    width: 100%;
  }
  .modal_image_small {
    height: 120px;
    width: 100%;
    border: 2px solid #242424;
  }

  .count {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 50px;
    right: 40px;
    border: 1px solid #242424;
  }
  .ind {
    position: absolute;
    left: 17px;
    top: -10px;
    font-size: 20px;
    color: white;
  }
}
