/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .btn {
    padding: 14px;
    border: 0;
    width: 20vw;
    height: 5vh;
    cursor: pointer;
  }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .btn {
    padding: 14px;
    border: 0;
    width: 20vw;
    height: 5vh;
    cursor: pointer;
  }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .btn {
    padding: 14px;
    border: 0;
    width: 20vw;
    height: 5vh;
    cursor: pointer;
  }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .btn {
    padding: 14px;
    border: 0;
    width: 20vw;
    height: 5vh;
    cursor: pointer;
  }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .btn {
    padding: 14px;
    border: 0;
    width: 20vw;
    height: 5vh;
    cursor: pointer;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .btn {
    padding: 14px;
    border: 0;
    width: 200px;
    height: 50px;
    cursor: pointer;
  }

}
