/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .about_con {
    display: flex;
    width: 900%;
    height: 100vh;
    flex-direction: row;
  }
  .con {
    margin: auto;
  }
  .input {
    margin-top: 200px;
  }

  .header {
    font-size: 30px;
    color: rgb(100, 100, 100);
    margin: 30px;
  }
  .sub_header {
    font-size: 20px;
    color: #264574;
    margin-left: 30px;
    line-height: 0px;
  }
  .sub_header2 {
    font-size: 20px;
    color: #264574;
    margin-right: 30px;
    line-height: 0px;
  }

  .text_right {
    text-align: right;
  }
  .col2::after {
    content: "";
    display: block;
    width: 0.1vw;
    height: 70vh;
    background-color: #264574;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .about_con {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: row wrap;
  }
  .con {
    margin-top: 180px;
  }
  .header {
    font-size: 30px;
    color: rgb(100, 100, 100);
    margin: 30px;
  }
  .sub_header {
    font-size: 20px;
    color: #264574;
    margin-left: 30px;
    line-height: 0px;
  }
  .sub_header2 {
    font-size: 20px;
    color: #264574;
    margin-right: 30px;
    line-height: 0px;
  }

  .text_right {
    text-align: right;
  }
  .col2::after {
    content: "";
    display: block;
    width: 0.1vw;
    height: 70vh;
    background-color: #264574;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .about_con {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
  }
  .col {
    flex-basis: 50%;
    padding: 12px;
    height: 85vh;
    margin-top: 100px;
  }
  .col2 {
    flex-basis: 50%;
    padding: 12px;
    height: 85vh;
    margin-top: 100px;
  }
  .header {
    font-size: 30px;
    color: rgb(100, 100, 100);
    margin: 30px;
  }
  .sub_header {
    font-size: 20px;
    color: #264574;
    margin-left: 30px;
    line-height: 0px;
  }
  .sub_header2 {
    font-size: 20px;
    color: #264574;
    margin-right: 30px;
    line-height: 0px;
  }

  .text_right {
    text-align: right;
  }
  .col2::after {
    content: "";
    display: block;
    width: 0.1vw;
    height: 70vh;
    background-color: #264574;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .about_con {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
  }

  .header {
    font-size: 30px;
    color: rgb(100, 100, 100);
    margin: 30px;
  }
  .sub_header {
    font-size: 20px;
    color: #264574;
    margin-left: 30px;
    line-height: 0px;
  }
  .sub_header2 {
    font-size: 20px;
    color: #264574;
    margin-right: 30px;
    line-height: 0px;
  }

  .text_right {
    text-align: right;
  }
  .col2::after {
    content: "";
    display: block;
    width: 0.1vw;
    height: 70vh;
    background-color: #264574;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .about_con {
    width: 100vw;
    height: 100vh;
  }
  .con {
    margin-top: 180px;
  }
  .header {
    font-size: 30px;
    color: rgb(100, 100, 100);
    position: absolute;
    top: 120px;
    left: 10px;
  }
  .sub_header {
    font-size: 30px;
    color: #264574;
    position: absolute;
    top: 130px;
    left: 10px;
    padding-left: 1px;
  }
  .text_right {
    text-align: right;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .about_con {
    width: 100vw;
    height: 100vh;
  }
  .con {
    margin-top: 180px;
  }
  .sub_header {
    font-size: 20px;
    color: #264574;
    position: absolute;
    top: 155px;
    padding-left: 8px;
  }
  .header {
    font-size: 30px;
    color: rgb(100, 100, 100);
    position: absolute;
    top: 120px;
    left: 10px;
  }
  .text_right {
    text-align: right;
  }
  .btn{
    height: 50px;
  }
}
