/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .project_con {
    width: 100%;
    height: 95%;
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    margin-top: 120px;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .col {
    margin: 12px;
    border: 0.1px solid #264574;
    flex-basis: 23%;
    height: 300px;
    position: relative;
    cursor: pointer;
  }

  .project_details {
    position: absolute;
    bottom: 3%;
    width: 90%;
    margin-left: 16px;
  }

  .cat_text {
    font-size: 1em;
    line-height: 0px;
    padding-left: 10px;
    margin-top: 10px;
  }
  .header_text {
    font-size: 18px;
    line-height: 0px;
    padding-left: 10px;
  }

  .modal_image {
    height: 40vh;
    width: 100%;
  }
  .modal_image_small {
    height: 150px;
    width: 100%;
    border: 2px solid #242424;
  }

  .count {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 50px;
    right: 40px;
    border: 1px solid #242424;
  }
  .ind {
    position: absolute;
    left: 23px;
    top: 5px;
    font-size: 30px;
    color: white;
  }

  .go_down {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    left: 50%;
  }

  .go_up {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    left: 55%;
    transform: rotate(360%);
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .project_con {
    width: 100%;
    height: 95%;
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    margin-top: 20px;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .col {
    margin: 12px;
    border: 0.1px solid #264574;
    flex-basis: 20%;
    height: 50%;
    position: relative;
  }

  .project_details {
    position: absolute;
    bottom: 3%;
    width: 90%;
    margin-left: 15px;
  }

  .cat_text {
    font-size: 12px;
    line-height: 0px;
    padding-left: 10px;
  }
  .header_text {
    font-size: 18px;
    line-height: 0px;
    padding-left: 10px;
  }

  .modal_image {
    height: 450px;
    width: 100%;
  }
  .modal_image_small {
    height: 150px;
    width: 100%;
    border: 2px solid #242424;
  }

  .count {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 60px;
    right: 40px;
    border: 1px solid #242424;
  }
  .ind {
    position: absolute;
    left: 20px;
    top: -24px;
    font-size: 30px;
    color: white;
  }

  .go_down {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    left: 50%;
  }

  .go_up {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    left: 55%;
    transform: rotate(360%);
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .project_con {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: scroll;
  }

  .inner_con {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .image {
    width: 100%;
    height: 400px;
  }
  .modal_image {
    height: 40vh;
    width: 100%;
  }
  .modal_image_small {
    height: 150px;
    width: 100%;
    border: 2px solid #242424;
  }

  .col {
    position: relative;
  }
  .project_details {
    width: 90%;
    height: 20%;
  }

  .cat_text {
    font-size: 12px;
    line-height: 0px;
    padding-left: 10px;
  }
  .header_text {
    font-size: 18px;
    line-height: 10px;
    padding-left: 10px;
    margin-top: -8px;
  }

  .count {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 50px;
    right: 70px;
    border: 1px solid #242424;
  }
  .ind {
    position: absolute;
    left: 20px;
    top: -24px;
    font-size: 30px;
    color: white;
  }
  .go_down {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    left: 50%;
  }

  .go_up {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    left: 55%;
    transform: rotate(360%);
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .project_con {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
  }

  .inner_con {
    width: 100%;
  }

  .image {
    width: 70%;
    height: 230px;
  }

  .col {
    width: 100%;
    flex-basis: 50%;
    margin-top: 90px;
    position: relative;
  }
  .project_details {
    width: 70%;
    height: 20%;
  }

  .cat_text {
    font-size: 1em;
    line-height: 10px;
    padding-left: 10px;
  }
  .header_text {
    font-size: 18px;
    line-height: 10px;
    padding-left: 10px;
    margin-top: -8px;
  }

  .count {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 40px;
    right: 150px;
    border: 1px solid #242424;
  }
  .ind {
    position: absolute;
    left: 21px;
    top: 6px;
    font-size: 30px;
    color: white;
  }
  .modal_image {
    height: 20vh;
    width: 100%;
  }
  .modal_image_small {
    height: 100px;
    width: 100%;
    border: 2px solid #242424;
  }

  .go_down {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    left: 40%;
  }

  .go_up {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    right: 40%;
    transform: rotate(360%);
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .project_con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    justify-content: space-evenly;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .col {
    border: 0.1px solid #264574;
    flex-basis: 50%;
    height: 40%;
  }

  .project_details {
    position: absolute;
    bottom: 3%;
    width: 90%;
    margin-left: 15px;
  }

  .cat_text {
    font-size: 12px;
    line-height: 0px;
    padding-left: 10px;
  }
  .header_text {
    font-size: 18px;
    line-height: 0px;
    padding-left: 10px;
  }

  .modal_image {
    height: 20vh;
    width: 100%;
  }
  .modal_image_small {
    height: 120px;
    width: 100%;
    border: 2px solid #242424;
  }

  .count {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 70px;
    right: 10px;
    border: 1px solid #242424;
  }
  .ind {
    position: absolute;
    left: 20px;
    top: -14px;
    font-size: 20px;
    color: white;
  }

  .go_down {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    left: 50%;
  }

  .go_up {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    left: 55%;
    transform: rotate(360%);
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .project_con {
    width: 100%;
    height: 95%;
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    margin-top: 12px;
  }

  .image {
    width: 100%;
    height: 300px;
  }

  .col {
    border: 0.1px solid #264574;
    flex-basis: 100%;
    height: 300px;
  }

  .project_details {
    position: absolute;
    bottom: 3%;
    width: 90%;
    margin-left: 15px;
    height: 70px;
  }

  .cat_text {
    font-size: 1em;
    line-height: 7px;
    padding-left: 10px;
  }
  .header_text {
    font-size: 18px;
    line-height: 0px;
    padding-left: 10px;
  }

  .modal_image {
    height: 30vh;
    width: 100%;
  }
  .modal_image_small {
    height: 120px;
    width: 100%;
    border: 2px solid #242424;
  }

  .count {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 50px;
    right: 40px;
    border: 1px solid #242424;
  }
  .ind {
    position: absolute;
    left: 19px;
    top: 7px;
    font-size: 20px;
    color: white;
  }

  .go_down {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    left: 50%;
  }

  .go_up {
    position: fixed;
    bottom: 6px;
    width: 50px;
    height: 50px;
    left: 55%;
    transform: rotate(360%);
  }
}
