/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100vw;
  }

  .counts {
    position: absolute;
    right: 3%;
    top: 10%;
    border: 1px solid black;
    color: #3eaafc;
    padding: 25px;
    font-size: 40px;
  }

  .slider_cat::before {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #3eaafc;
    padding: 0 12px;
  }

  .caption {
    color: white;
    font-size: 50px;
    font-weight: bold;
    line-height: 1em;
    color: white;
  }

  .header {
    color: white;
    font-size: 60px;
    line-height: 0.7em;
    font-family: serif;
    font-weight: lighter;
    color: white;
  }

  .btn {
    margin-top: 10px;
    color: white;
    background-color: #3eaafc !important;
  }

  .works_con {
    position: absolute;
    top: 40%;
    left: 15%;
    background-color: #264574;
    padding: 25px;
    opacity: 0.8;
    width: auto;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .counts {
    position: absolute;
    right: 3%;
    top: 20%;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    color: #3eaafc;
  }
  .slider_cat::before {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #3eaafc;
    padding: 0 12px;
  }

  .caption {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
  }

  .header {
    color: white;
    font-size: 25px;
    font-family: serif;
    font-weight: lighter;
  }

  .btn {
    margin-top: 0px;
    width: 160px;
    height: 30px;
    font-size: 8px;
    background-color: #3eaafc !important;
  }

  .works_con {
    position: absolute;
    top: 50%;
    left: 5%;
    background-color: #264574;
    padding: 25px;
    opacity: 0.8;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .counts {
    position: absolute;
    right: 3%;
    top: 10%;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    color: #3eaafc;
  }
  .slider_cat::before {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #3eaafc;
    padding: 0 12px;
  }

  .caption {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 9px;
  }

  .header {
    color: white;
    font-size: 25px;
    line-height: 9px;
    font-family: serif;
    font-weight: lighter;
  }

  .btn {
    margin-top: 0px;
    width: 160px;
    height: 30px;
    font-size: 8px;
    background-color: #3eaafc !important;
  }

  .works_con {
    position: absolute;
    top: 40%;
    left: 5%;
    background-color: #264574;
    padding: 25px;
    opacity: 0.8;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .counts {
    position: absolute;
    right: 3%;
    top: 10%;
    border: 1px solid black;
    color: #3eaafc;
    padding: 25px;
    font-size: 40px;
  }

  .slider_cat::before {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #3eaafc;
    padding: 0 12px;
  }

  .caption {
    color: white;
    font-size: 50px;
    font-weight: bold;
    line-height: 10px;
    color: white;
  }

  .header {
    color: white;
    font-size: 60px;
    font-family: serif;
    font-weight: lighter;
    color: white;
  }

  .btn {
    color: white;
    background-color: #3eaafc !important;
    margin-top: 20px;
  }

  .works_con {
    position: absolute;
    top: 40%;
    left: 10%;
    background-color: #264574;
    padding: 25px;
    opacity: 0.8;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */

  .background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }

  .counts {
    position: absolute; 
    right: 3%;
    top: 23%;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    color: #3eaafc;
  }
  
  .slider_cat::before {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #3eaafc !important;
    padding: 0 12px;
  }

  .caption {
    color: white;
    font-size: 25px;
    font-weight: bold;
    line-height: 15px;
  }

  .header {
    color: white;
    font-size: 30px;
    line-height: 1em;
    font-family: serif;
    font-weight: lighter;
  }

  .btn {

    width: 160px;
    height: 30px;
    font-size: 8px;
    background-color: #3eaafc !important;
  }

  .works_con {
    position: absolute;
    top: 40%;
    left: 10%;
    background-color: #264574;
    padding: 25px;
    opacity: 0.8;
  }
}
