/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .contact_con {
    width: 100%;
    height: 100%;
  }
  .input_con {
    width: 70%;
    margin: auto;
    margin-top: 170px;
  }

  .input {
    width: 60%;
    height: 60px;
    margin: auto;
    margin-top: 10px;
  }

  .textarea {
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 60%;
    height: 170px;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .contact_con {
    width: 100%;
    height: 100%;
  }
  .input_con {
    width: 90%;
    margin: auto;
    margin-top: 70px;
  }

  .input {
    width: 90%;
    margin-top: 10px;
    margin-left: 3px;
    margin: auto;
  }

  .textarea {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .contact_con {
    width: 100vw;
    height: 100vh;
  }
  .input_con {
    width: 90%;
    margin: auto;
    margin-top: 60px;
  }

  .input {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  .textarea {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .contact_con {
    width: 100%;
    height: 100%;
  }
  .input_con {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }

  .input {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  .textarea {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 100px;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .contact_con {
    width: 100%;
  }
  .input_con {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }

  .input {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  .textarea {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 100px;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .contact_con {
    width: 100%;
  }
  .input_con {
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }

  .input {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .input:focus {
    font-size: 16px !important;
  }

  .textarea {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 100px;
  }
}
