/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .services_con {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
  .serv_text {
    font-size: 35px;
  }

  .ser_con {
    width: 70%;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    text-align: center;
  }

  .image {
    width: 50%;
    height: 40vh;
    margin: auto;
    display: block;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .services_con {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
  .serv_text {
    font-size: 30px;
  }

  .ser_con {
    width: 70%;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    text-align: center;
  }
  .image {
    width: 50%;
    height: 400px;
    margin: auto;
    display: block;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .services_con {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
  .serv_text {
    font-size: 25px;
  }

  .ser_con {
    width: 90%;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    text-align: center;
  }
  .image {
    width: 60%;
    margin: auto;
    display: block;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .services_con {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  .ser_con {
    width: 90%;
    margin: auto;
    margin-top: 2%;
    flex-basis: 90%;
    border-radius: 5px;
    text-align: center;
  }
  .image {
    width: 60%;
    margin: auto;
    display: block;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .services_con {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  .serv_text {
    font-size: 25px;
  }

  .ser_con {
    width: 90%;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    text-align: center;
  }
  .image {
    width: 60%;
    margin: auto;
    display: block;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .services_con {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  .serv_text {
    font-size: 20px;
  }

  .ser_con {
    width: 90%;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    text-align: center;
  }
  .image {
    width: 80%;
    margin: auto;
    display: block;
  }
}
