/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .modal_con {
    display: flex;
    background-color: rgba(46, 56, 77, 0.5);
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 80;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .popup_modal {
    position: fixed;
    top: 25%;
    left: 20%;

    background-color: white;
    padding: 12px;
    opacity: 20;
    width: 60%;
    height: 60%;
    z-index: 100;
  }

  .side_modal {
    position: fixed;
    right: 0;
    background-color: white;
    width: 50%;
    height: 100%;
    opacity: 20;
    z-index: 100;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .modal_con {
    background-color: rgba(46, 56, 77, 0.5);
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 80;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .popup_modal {
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    padding: 12px;
    opacity: 20;
    width: 80%;
    height: 80%;
    z-index: 100;
  }

  .side_modal {
    position: fixed;
    right: 0;
    background-color: white;
    width: 50%;
    height: 100%;
    opacity: 20;
    z-index: 100;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .modal_con {
    background-color: rgba(46, 56, 77, 0.5);
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 80;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .popup_modal {
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    padding: 12px;
    opacity: 20;
    width: 80%;
    height: 80%;
    z-index: 100;
  }

  .side_modal {
    position: fixed;
    right: 0;
    background-color: white;
    width: 50%;
    height: 100%;
    opacity: 20;
    z-index: 100;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .modal_con {
    background-color: rgba(46, 56, 77, 0.5);
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 80;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .popup_modal {
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    padding: 12px;
    opacity: 20;
    width: 80%;
    height: 80%;
    z-index: 100;
  }

  .side_modal {
    position: fixed;
    right: 0;
    background-color: white;
    width: 50%;
    height: 100%;
    opacity: 20;
    z-index: 100;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .modal_con {
    background-color: rgba(46, 56, 77, 0.5);
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 80;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .popup_modal {
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    padding: 12px;
    opacity: 20;
    width: 80%;
    height: 80%;
    z-index: 100;
  }

  .side_modal {
    position: fixed;
    right: 0;
    background-color: white;
    width: 50%;
    height: 100%;
    opacity: 20;
    z-index: 100;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .modal_con {
    background-color: rgba(46, 56, 77, 0.5);
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 80;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .popup_modal {
    position: fixed;
    top: 10%;
    left: 10%;
    background-color: white;
    padding: 12px;
    opacity: 20;
    width: 80%;
    height: 80%;
    z-index: 100;
  }

  .side_modal {
    position: fixed;
    right: 0;
    background-color: white;
    width: 80%;
    height: 100%;
    opacity: 20;
    z-index: 100;
  }

  .team_img {
    width: 100%;
  }
}
