/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */

  .vl {
    border-left: 1px solid white;
    margin-top: 115%;
    height: 500px;
  }

  .flex_layout {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    background-color: rgb(240, 237, 237);
  }

  .sidebar {
    flex-basis: 5%;
    height: 100%;
    width: 5%;
    z-index: 10;
  }

  .main {
    flex-basis: 95%;
    height: 100%;
    width: 95%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .sidebar {
    display: none;
  }
  .main {
    flex-basis: 100%;
  }
  .flex {
    height: 100%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .vl {
    border-left: 1px solid white;
    margin-top: 15px;
    height: 100px;
  }
  .flex {
    display: flex;
    flex-direction: row;
    height: 92vh;
  }
  .overFlow {
    overflow-y: scroll;
  }
  .sidebar {
    display: none;
  }
  .main {
    flex-basis: 100% !important;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .sidebar {
    flex-basis: 8%;
  }

  .flex {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .vl {
    border-left: 1px solid white;
    margin-top: 15px;
    height: 500px;
  }
  .flex {
    display: flex;
    flex-direction: row;
    height: 92%;
  }
  .sidebar {
    display: none;
  }
  .main {
    width: 100%
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .vl {
    border-left: 1px solid white;
    margin-top: 15px;
    height: 500px;
  }
  .flex {
    display: flex;
    flex-direction: row;
    height: 92%;
  }
  .sidebar {
    display: none;
  }
  .main {
    width: 100%
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .vl {
    border-left: 1px solid white;
    margin-top: 15px;
    height: 500px;
  }
  .flex {
    display: flex;
    flex-direction: row;
    height: 92%;
  }
  .sidebar {
    display: none;
  }
  .overFlow{
    width: 100%;
  }
  .main {
    width: 100%;
  }
}
