/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .about_con {
    width: 95%;
    height: 90%;
    margin-left: 3%;
  }

  .con {
    width: 90%;
    padding: 8px;
    margin: auto;
  }
  .about_text {
    font-size: 1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  .sub_header {
    font-size: 30px;
    color: #264574;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
  }

  .team_img {
    width: 350px;
    height: 350px;
    border: 2px solid #264574;
  }

  .edit_img {
    width: 100%;
    height: 40vh;
    border: 2px solid #264574;
    flex-basis: 50;
  }

  .team_img2 {
    width: 100%;
    height: 50vh;
  }

  .team_content {
    margin: auto;
  }

  .label {
    display: block;
    font-size: 16px;
    padding-top: 12px;
    margin-left: 14%;
  }

  .input {
    width: 700px;
    margin: auto;
    height: 50px;
  }
  .textarea {
    width: 700px;
    margin: auto;
    height: 90px;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .about_con {
    width: 95%;
    height: 90%;
  }
  .con {
    width: 90%;
    padding: 8px;
  }

  .sub_header {
    font-size: 20px;
    color: #264574;
    margin-left: 30px;
    line-height: 0px;
  }
  .sub_header2 {
    font-size: 30px;
    color: #264574;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
  }


  .team_img {
    width: 250px;
    height: 250px;
    border: 2px solid #264574;
  }

  .edit_img {
    width: 100%;
    height: 500px;
    border: 2px solid #264574;
    flex-basis: 50;
  }

  .team_img2 {
    width: 100%;
    height: 50vh;
  }

  .team_content {
    margin: auto;
  }

  .label {
    display: block;
    font-size: 16px;
    padding-top: 12px;
    margin-left: 14%;
  }

  .input {
    width: 700px;
    margin: auto;
    height: 50px;
  }
  .textarea {
    width: 700px;
    margin: auto;
    height: 90px;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .about_con {
    width: 100%;
    height: 100%;
  }
  .con {
    width: 90%;
    padding: 8px;
  }
  .sub_header {
    font-size: 20px;
    color: #264574;
    margin-left: 30px;
    line-height: 0px;
  }
  .row_col_30 {
    flex-basis: 40%;
    width: 40%;
  }

  .team_img {
    width: 100%;
    height: 20vh;
  }
  .team_img2 {
    width: 100%;
    height: 35vh;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .about_con {
    width: 100%;
    height: 100%;
  }
  .con {
    width: 90%;
    padding: 8px;
  }
  .sub_header {
    font-size: 30px;
    color: #264574;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
  }

  .row_col_30 {
    flex-basis: 40%;
    width: 40%;
  }

  .team_img {
    width: 90%;
    height: 30vh;
  }
  .team_img2 {
    width: 100%;
    height: 30vh;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .about_con {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    margin-top: 12%;
  }
  .con {
    width: 90%;
    padding: 8px;
    margin: auto;
  }
  .about_text {
    font-size: 1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  .col {
    flex-basis: 50%;
  }

  .header {
    font-size: 20px;
    color: rgb(100, 100, 100);
    padding-left: 12px;
  }

  .sub_header {
    font-size: 20px;
    color: #264574;
    line-height: 0px;
    padding-left: 12px;
  }

  .team {
    position: relative;
  }

  .edit_btn {
    width: 90% !important;
    height: 40px !important;
    z-index: 50;
  }

  .team_img {
    width: 90%;
    height: 100px;
  }
  .team_img2 {
    width: 100%;
    height: 13vh;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .about_con {
    width: 100%;
    height: 100%;
    display: block;
  }
  .con {
    width: 90%;
    margin: auto;
  }
  .about_text {
    font-size: 1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  .row_col_30 {
    flex-basis: 40%;
    width: 40%;
  }
  .col {
    padding: 12px;
    height: 95%;
  }
  .sub_header {
    font-size: 20px;
    color: #264574;
    margin-left: 1%;
    line-height: 20px;
  }
  .header {
    font-size: 30px;
    color: rgb(100, 100, 100);
    margin-left: 1%;
    line-height: 10px;
    margin-top: 20px;
  }

  .edit_btn {
    font-size: 1sem;
  }

  .team_img {
    width: 90%;
    height: 200px;
    border: 0.1px solid #264574;
  }
  .team_img2 {
    width: 100%;
    height: 250px;
  }

  .edit_img{
    height: 300px;
  }
}
