/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .services_con {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    position: relative;
  }

  .img {
    width: 50%;
    display: block;
    margin: auto;
  }

  .input {
    margin-top: 70px;
  }

  .input_con {
    width: 60%;
    margin: auto;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .services_con {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .img {
    width: 50%;
    display: block;
    margin: auto;
  }

  .input {
    margin-top: 70px;
  }

  .input_con {
    width: 60%;
    margin: auto;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .services_con {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .img {
    width: 50%;
    height: 150px;
    display: block;
    margin: auto;
  }

  .input {
    margin-top: 70px;
  }

  .input_con {
    width: 700px;
    margin: auto;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
  .services_con {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .img {
    width: 50%;
    height: 150px;
    display: block;
    margin: auto;
  }

  .input {
    margin-top: 70px;
  }

  .input_con {
    width: 80%;
    margin: auto;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
  .services_con {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .img {
    width: 50%;
    height: 100px;
    display: block;
    margin: auto;
  }

  .input {
    margin-top: 70px;
  }

  .input_con {
    width: 80%;
    margin: auto;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .services_con {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .img {
    width: 50%;
    height: 100px;
    display: block;
    margin: auto;
  }

  .input {
    margin-top: 70px;
    height: 150px;
  }

  .input_con {
    width: 80%;
    margin: auto;
  }
}
