/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
  .new_con {
    position: absolute;
    top: 25%;
    left: 35%;
  }
  .input {
    width: 30vw;
    height: 55px;
  }

  .textarea {
    width: 30vw;
    height: 100px;
  }
}
/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
  .input {
    width: 30vw;
    height: 55px;
  }

  .textarea {
    width: 30vw;
    height: 100px;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .new_con {
    position: absolute;
    top: 25%;
    left: 30%;
  }
  .input {
    width: 40vw;
    height: 55px;
  }

  .textarea {
    width: 40vw;
    height: 100px;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
  .new_con {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 120px;
  }

  .input {
    width: 90%;
    height: 50px;
    margin: auto;
  }

  .textarea {
    width: 90%;
    height: 100px;
    margin: auto;
  }
  .btn {
    height: 50px;
  }
}
