@import "~react-draft-wysiwyg/dist/react-draft-wysiwyg.css";
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
@import "./w3.css";

body,
html {
  height: 100% !important;
  width: 100% !important;
  min-height: 100% !important;
}

body > div {
  height: inherit;
  width: inherit;
}

.theme {
  background-color: #264574;
  color: white;
}
/* .theme-light {
  background-color: white;
} */

.theme-2-text {
  color: #32527b;
}

.theme-2 {
  background-color: #32527b;
}
.theme-3 {
  background-color: #3eaafc;
}

.window-height {
  height: 100%;
}
.box_shadow {
  box-shadow: 0 3px 10px rgb(0 0 4 / 0.3);
}
.flex-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.js-se {
  justify-content: space-evenly;
}
.js-sb {
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.fixed {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
}

.nav-bar {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
}

.row-col-5 {
  flex-basis: 5%;
}
.row-col-10 {
  flex-basis: 10%;
}
.row-col-15 {
  flex-basis: 15%;
}
.row-col-20 {
  flex-basis: 20%;
}
.row-col-25 {
  flex-basis: 25%;
}
.row-col-30 {
  flex-basis: 30%;
}
.row-col-35 {
  flex-basis: 35%;
}
.row-col-40 {
  flex-basis: 40%;
}
.row-col-45 {
  flex-basis: 45%;
}
.row-col-50 {
  flex-basis: 50%;
}
.row-col-55 {
  flex-basis: 55%;
}
.row-col-60 {
  flex-basis: 60%;
}
.row-col-65 {
  flex-basis: 65%;
}
.row-col-70 {
  flex-basis: 70%;
}
.row-col-75 {
  flex-basis: 75%;
}
.row-col-80 {
  flex-basis: 80%;
}
.row-col-85 {
  flex-basis: 85%;
}
.row-col-90 {
  flex-basis: 90%;
}
.row-col-95 {
  flex-basis: 95%;
}
.row-col-100 {
  flex-basis: 100%;
}
