.flex {
  display: flex;
  height: 60px;
  width: 95%;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  z-index: 40;
}

.counter {
  flex-basis: 10%;
  display: flex;
  justify-content: space-evenly;
}

.counter_circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-block;
  margin-top: 25px;
}

.active {
  background-color: orangered;
}

.slider {
  flex-basis: 80%;
  display: flex;
  justify-content: space-evenly;
}

.counter_load {
  margin-top: 20px;
}
.counter_loading {
  display: inline-block;
  width: 55%;
  height: 4px;
}
.loading {
  background-color: orangered;
  width: 52%;
  height: 2px;
  display: inline-block;
  position: fixed;
  top: 34px;
  transition: all 1s ease-out;
}

.arrows {
  flex-basis: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (min-width: 220px) and (max-width: 480px) {
  .flex {
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: row;
    position: relative;
    bottom: 0;
  }
  .counter {
    flex-basis: 20%;
    display: flex;
    justify-content: space-evenly;
  }

  .slider {
    flex-basis: 100%;
  }

  .arrows {
    flex-basis: 10%;
  }
  .active {
    background-color: orangered;
  }
}

@media (min-width: 361px) and (max-width: 867px) {
  /* CSS */

  .flex {
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: row;
    position: fixed;
    bottom: 0;
  }
  .counter {
    flex-basis: 20%;
    display: flex;
    justify-content: space-evenly;
  }

  .slider {
    flex-basis: 100%;
  }

  .arrows {
    flex-basis: 10%;
  }
  .active {
    background-color: orangered;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .flex {
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: row;
    position: fixed;
    bottom: 0;
  }

  .counter {
    flex-basis: 20%;
  }

  .slider {
    flex-basis: 90%;
  }

  .arrows {
    flex-basis: 10%;
  }
  .active {
    background-color: orangered;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
  .flex {
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: row;
    position: fixed;
    bottom: 0;
  }

  .counter {
    flex-basis: 20%;
  }

  .slider {
    flex-basis: 90%;
  }

  .arrows {
    flex-basis: 10%;
  }
  .active {
    background-color: orangered;
  }
}
